@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
background: rgb(30,34,170);
background: radial-gradient(circle, rgba(30,34,170,1) 0%, rgba(0,127,255,1) 94%);
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
}

#titulo{
    font-weight: 900;
    color: aliceblue;
    text-transform: uppercase;
}


.form{
    padding: 40px;
    
}

.form-control{
    margin-bottom: 30px;
    position: relative;
   
    
}

.link-primary{
    text-decoration: none;
    color: black;
}

.form-control:focus {
    border-color: #007fff;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
